In [14]:
import pandas as pd
import numpy as np

In [15]:
starbucks = pd.read_excel('st_stat.xlsx')
pop = pd.read_excel('st_pop.xlsx')
work = pd.read_excel('st_work.xlsx')

In [16]:
starbucks

,매장명,위도,경도,매장타입,주소,전화번호,시군구명
0,역삼아레나빌딩,37.501087,127.043069,general,서울특별시 강남구 언주로 425 (역삼동),02-568-3762,강남구
1,논현역사거리,37.510178,127.022223,general,서울특별시 강남구 강남대로 538 (논현동),02-3442-3672,강남구
2,국기원사거리,37.499517,127.031495,general,서울특별시 강남구 테헤란로 125 (역삼동),02-568-3668,강남구
3,대치대원빌딩R,37.494668,127.062583,reserve,서울특별시 강남구 남부순환로 2947 (대치동),02-568-3704,강남구
4,삼성역섬유센터R,37.507750,127.060651,reserve,서울특별시 강남구 테헤란로 518 (대치동),02-568-3648,강남구
...,...,...,...,...,...,...,...
496,중랑역,37.593033,127.074736,general,서울특별시 중랑구 망우로30길 3 (상봉동),02-758-8935,중랑구
497,중랑구청,37.605389,127.095756,general,서울특별시 중랑구 신내로 72,02-758-8887,중랑구
498,사가정역,37.579594,127.087966,general,서울특별시 중랑구 면목로 310,02-758-8823,중랑구
499,상봉역,37.596890,127.086470,general,"서울특별시 중랑구 망우로 307, ,3,4번지 (상봉동)",02-758-8486,중랑구
500,묵동이마트,37.613433,127.077484,general,"서울특별시 중랑구 동일로 932, 묵동이마트 B1층 (묵동)",02-758-8370,중랑구

In [17]:
new = pd.merge(pop,work)

In [18]:
new

    시군구명  주민등록인구    종사자수   사업체수
0    종로구  164348  269106  40871
1     중구  135139  423808  66190
2    용산구  245411  133446  21178
3    성동구  314551  162019  26130
4    광진구  371671  123689  24531
5   동대문구  364962  143858  32994
6    중랑구  411552   99241  27287
7    성북구  453902  113893  24690
8    강북구  327511   69787  18654
9    도봉구  345041   68669  18455
10   노원구  555803  114736  25827
11   은평구  490253   87693  24179
12  서대문구  324871  111615  19612
13   마포구  385624  252534  36504
14   양천구  473087  119443  26297
15   강서구  608361  199289  33273
16   구로구  440396  210506  37445
17   금천구  253344  223058  30080
18  영등포구  403988  362524  44512
19   동작구  406715  103915  19609
20   관악구  522292  119180  26235
21   서초구  445164  439963  47061
22   강남구  557865  711278  73590
23   송파구  671994  302517  45375
24   강동구  438225  143061  30079

In [22]:
new2 = starbucks['시군구명']

In [24]:
new3 = pd.DataFrame(new2.value_counts())

In [27]:
new3.columns = ['매장수']

In [28]:
new3

      매장수
강남구    76
중구     51
서초구    45
종로구    36
영등포구   35
마포구    32
송파구    29
서대문구   21
용산구    17
강서구    15
광진구    15
양천구    14
강동구    13
성북구    12
노원구    12
관악구    11
금천구    10
구로구    10
성동구     9
동작구     9
은평구     8
동대문구    8
중랑구     6
강북구     5
도봉구     2

In [30]:
result = pd.merge(new,new3,left_on = '시군구명',right_index=True)

In [31]:
result

    시군구명  주민등록인구    종사자수   사업체수  매장수
0    종로구  164348  269106  40871   36
1     중구  135139  423808  66190   51
2    용산구  245411  133446  21178   17
3    성동구  314551  162019  26130    9
4    광진구  371671  123689  24531   15
5   동대문구  364962  143858  32994    8
6    중랑구  411552   99241  27287    6
7    성북구  453902  113893  24690   12
8    강북구  327511   69787  18654    5
9    도봉구  345041   68669  18455    2
10   노원구  555803  114736  25827   12
11   은평구  490253   87693  24179    8
12  서대문구  324871  111615  19612   21
13   마포구  385624  252534  36504   32
14   양천구  473087  119443  26297   14
15   강서구  608361  199289  33273   15
16   구로구  440396  210506  37445   10
17   금천구  253344  223058  30080   10
18  영등포구  403988  362524  44512   35
19   동작구  406715  103915  19609    9
20   관악구  522292  119180  26235   11
21   서초구  445164  439963  47061   45
22   강남구  557865  711278  73590   76
23   송파구  671994  302517  45375   29
24   강동구  438225  143061  30079   13

In [33]:
y = result['매장수']
X = result[['주민등록인구','종사자수','사업체수']]

In [34]:
from sklearn.model_selection import cross_val_score
from sklearn.tree import DecisionTreeRegressor
tree = DecisionTreeRegressor()

In [35]:
cross_val_score(tree,X,y,cv=8)

array([ 0.94975576,  0.08208955, -0.40506329, -0.66917293,  0.75570033,
       -0.1856    ,  0.93403909,  0.51740752])

In [36]:
cross_val_score(tree,X,y,cv=5)

array([ 0.90289664, -0.43115942,  0.51013514, -0.11226181,  0.74589822])